// ** MIXINS

@mixin button-base {
    display: block;
    margin: 0 auto;
    padding: 0.7em 2.3em;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 3em;
}

@mixin padding-horizontal($size){
    padding-left: $size;
    padding-right: $size;
}