@use "variables"as *;

// ** RESET

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin-block: 0;
    margin-inline: 0;
}

body {
    font-family: $overpass;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
}