// ** PRIMARY COLORS

$lightRed: hsl(356, 100%, 66%); // CTA text

$veryLightRed: hsl(355, 100%, 74%); // CTA hover background

$veryDarBlue: hsl(208, 49%, 24%); // Headings


// ** NEUTRAL COLORS

$white: hsl(0, 0%, 100%); // Text

$grayishBlue: hsl(240, 2%, 79%); // Footer text

$veryDarkGrayishBlue: hsl(207, 13%, 34%); // Body

$veryDarkBlackBlue: hsl(240, 10%, 16%); // Footer background


// ** BACKGROUND GRADIENT

$veryDarkGrayBlue: hsl(237, 17%, 21%);

$veryDarkDesaturatedBlue: hsl(237, 23%, 32%);


// ** TYPOGRAPHY

$overpass: 'Overpass', sans-serif;

$ubuntu: 'Ubuntu', sans-serif;

// ** SCREEN SIZES

$largeScreen: 1024px;

$smallScreen: 1023px;