@use "variables"as *;
@use "globals"as *;
@use "reset"as *;
@use "mixins" as *;

// ** CENTER EVERYTHING

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
}


// ** TOP HEADER

.top-header {
    z-index: 3;
    display: flex;
    width: 100%;
    height: 7em;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


// ** HAMBURGER MENU

.hamburger-menu {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


// ** MOBILE MENU

.mobile-menu {
    position: fixed;
    top: 100px;
    left: 2rem;
    right: 2rem;
    text-align: center;
    padding: 1em 0;
    border-radius: 10px;
    background-color: $white;
    display: none;

    ul {
        list-style: none;
        padding-inline-start: 0;
        line-height: 260%;
        margin: 1em;
    }

    a {
        font-size: 1.7rem;
        font-weight: 600;
        color: $veryDarkGrayishBlue;
        text-align: center;
        text-decoration: none;
    }
}

.mobile-menu--active {
    display: block;
}


// TOP NAV MAIN LIST

.top-nav__main-list {
    padding: 0.5em 0;

    .top-nav__sub-list {
        display: none;
    }
}

.top-nav__main-list--active {
    .top-nav__sub-list {
        display: block;
    }
}


// TOP NAV SUB-LIST

.top-nav__sub-list {
    background-color: hsl(240deg 10% 95%);
    padding: 2em 0;
    border-radius: 10px;

    a {
        color: $veryDarkGrayishBlue;

        &:hover {
            color: $veryDarkGrayBlue;
        }
    }
}

.list-arrow {
    width: 1rem;
    margin-left: 0.7em;
    padding-bottom: 0.1em;
    transition: 0.3s;
}

.top-nav__main-list--active .list-arrow {
    padding-top: 0.1em;
    transform: rotate(180deg);
}


// ** LOGIN SIGN-UP SECTION

.login-sign-up {
    margin: 0 2em;
    padding: 2em 0;
    border-top: 1px solid $grayishBlue;
}


// ** TOP SECTION

.top-section {
    z-index: 2;
    position: relative;
    top: -120px;
    color: $white;
    padding: 15em 2em 10em 2em;
    border-bottom-left-radius: 100px;
    background-image: linear-gradient(135deg, $veryLightRed, $lightRed);
    background-size: contain;
    overflow: hidden;
}

// Top section title
.top-section .section__title {
    font-size: 3.2rem;
    color: $white;
}

// Top section sub-title
.section__sub-title {
    font-size: 1.7rem;
    line-height: 150%;
    padding: 0 2em 0.5em 2em;
}

// Top section button container
.section-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

// Top section bg intro
.bg-intro {
    z-index: -1;
    position: absolute;
    left: 80%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 315%;
}

// Section title
.section__title {
    font-size: 3rem;
    line-height: 120%;
    padding: 0 1em 0.5em 1em;
    color: $veryDarBlue;
}

// Section content
.section__content {
    @include padding-horizontal(2em);
    font-size: 1.7rem;
    line-height: 180%;
    padding-bottom: 2.5em;
    color: $veryDarkGrayishBlue;
}

// Section img
.section__img {
    padding: 4em 0;
    min-width: 95%;
}


// ** SECTION DARK

.section--dark {
    color: $white;
    padding: 10em 2em;
    margin-top: 300px;
    background-image: url(/images/bg-pattern-circles.svg), linear-gradient(135deg, $veryDarkDesaturatedBlue, $veryDarkGrayBlue);
    background-position-y: -400px, 0;
    background-position-x: -190px, 0;
    background-repeat: no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

// Section dark title
.section--dark .section__title {
    margin-top: -500px;
    font-size: 3rem;
    line-height: 130%;
    color: $white;
}

// Section dark content
.section--dark .section__content {
    color: $white;
    padding-bottom: 0;
}

// Section dark img
.section--dark .section__img {
    position: relative;
    top: -500px;
}

// ** SECTION MOVE UP

.section-move {
    margin-top: -30px;
}


// ** FOOTER

.footer {
    width: 100%;
    background-color: $veryDarkBlackBlue;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
    margin-top: 4em;
    border-top-right-radius: 100px;

    .logo {
        padding-bottom: 3em;
        padding-top: 3em;
        transform: scale(125%);
    }
}


// ** NAV FOOTER

.nav-footer {
    ul {
        list-style: none;
        padding-inline-start: 0;
    }

    a {
        color: $white;
        text-align: center;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Nav footer main-list
.nav-footer_main-list {
    font-size: 2rem;
    font-weight: 600;
    line-height: 200%;
    padding-bottom: 1.5em;

    &::first-line {
        line-height: 390%;
    }
}

// Nav footer sub-list
.nav-footer_sub-list {
    font-weight: 400;

    a {
        color: $grayishBlue;
    }
}